<!DOCTYPE html>
<html>
  <head>
    <title>Slackmailer</title>
    <link href="<%= url('/css/app.css') %>" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
      <h1>Slackmailer</h1>
    </div>
    <%= yield %>
  </body>
  <script src="<%= url('/javascripts/app.js') %>" type="text/javascript" /></script>
</html>
