<div class="container">
  <div class="header new-campaign-header">
    <h2>Sorry, you've got no recent links!</h2>
    <h3>Try again next time, or try another Slack channel.</h3>
    <p>If you're sure there should be links here, try clicking the link again.</p>
  </div>
</div>
