<!DOCTYPE html>
<html>
  <head>
    <title>Slackmailer</title>
    <link href="<%= url('/layout.css') %>" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="header new-campaign-header">
        <h1>Sorry, you've got no recent links!</h1>
        <h3>Try again next time.</h3>
      </div>
    </div>
  </body>
</html>
