<div class="container">
  <div class="header new-campaign-header">
    <h2>Tell us a few things before we build your campaign.</h2>
  </div>
  <form action="/campaigns/links" method="post">
    <div class="link-form-container">
      <div class="styled-select centered text-center">
        <p><label name="timeframe">How long ago do you want to grab links from?</label></p>
        <label class="font-awesome-label">
          <select name="timeframe">
            <option value="one week ago">One week ago</option>
            <option value="two weeks ago">Two weeks ago</option>
            <option value="one month ago">One month ago</option>
          </select>
        </label>
      </div>

      <div class="styled-select centered text-center">
        <p><label name="timeframe">Which MailChimp list do you want to send to?</label></p>
        <label class="font-awesome-label">
          <select name="mailchimp_list">
            <% @mailchimp_lists.each do |list| %>
              <option value="<%= list["id"] %>"><%= list["name"] %></option>
            <% end %>
          </select>
        </label>
      </div>
    </div>
    <input type="hidden" name="slack_auth_token", value="<%= @slack_auth_token %>">
    <input type="hidden" name="slack_channel_id", value="<%= @slack_channel_id %>">
    <div class="form-action-container">
      <input type="submit" value="Build campaign" class="btn">
    </div>
  </form>
</div>
