<!DOCTYPE html>
<html>
  <head>
    <title>Slackmailer</title>
    <link href="<%= url('/layout.css') %>" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="header">
      <h1>Slackmailer</h1>
    </div>
    <div class="container">
      <div class="header new-campaign-header">
        <h1>Tell us a few things before we build your campaign.</h1>
      </div>
      <div class="link-form-container">
        <form action="/campaigns/links" method="post">
          <p><label name="timeframe">How long ago do you want to grab links from?</label></p>
          <select name="timeframe">
            <option value="one week ago">One week ago</option>
            <option value="two weeks ago">Two weeks ago</option>
            <option value="one month ago">One month ago</option>
          </select>

          <p><label name="timeframe">Which MailChimp list do you want to send to?</label></p>
          <select name="mailchimp_list">
            <% @mailchimp_lists.each do |list| %>
              <option value="<%= list["id"] %>"><%= list["name"] %></option>
            <% end %>
          </select>

          <input type="hidden" name="slack_auth_token", value="<%= @slack_auth_token %>">
          <div class="form-action-container">
            <input type="submit" value="Build campaign" class="send-campaign-btn">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
